{% extends 'events/base.html' %}


{% block content %}

<center>
    <br>
    {%if venue.venue_image%}
    <img style="width: 300px;" src="{{ venue.venue_image.url }}" alt="asasasa"> 
    

    {%endif%}
    <div class="card">
        <div class="card-header">
            Meneger: {{ item.manager }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Venue: {{ item.venue }}</h5>
        <p class="card-text">
        <ul>
            <li>Date: {{ item.event_date }}</li>
            <li>Days till Event: {{ item.Days_till }}.</li>
            <li>Occured: {{ item.Is_past }}</li>
            <li>Venue: {{ item.venue.web }}</li>
            <li>Desc: {{ item.description }}</li>
            <li>Approved: {{ item.approved }}</li>
            <ul>
                {% for user in item.attendees.all %}
                <li>Atendees: {{ user }}</li>
                {% endfor %}
            </ul>
        </ul>
        </p>
        {% if user.is_authenticated %}
        {% if user == item.manager %}
        <a href="{% url 'event_update' item.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
        <a href="{% url 'event_delete' item.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
        {% endif %}
        {% endif %}
    </div>
</div>

</center>
{% endblock %}