{% extends 'events/base.html' %}


{% block content %}

<center>
<h1>Venue:</h1>
<h5> {{ venue.name }} </h5>
<h5> {{ venue.address }} </h5>
<h5> {{ venue.zip_code }} </h5>
<h5> {{ venue.phone }} </h5>
<h5><a href="{{ venue.web }}">
 {{ venue.web }} 
</a> </h5>
<h5> {{ venue.email_address }} </h5>
<h5>Owner: {{ venue_owner }} </h5>
    
    <br>
{%if venue.venue_image%}
<img style="width: 300px;" src="{{ venue.venue_image.url }}" alt="asasasa"> 
{%endif%}

<br>
<br>
<br>
<h3>
    Events for this Venue ...
</h3>
<br>
{% if events %}
{% for item in events %}
<li>
    <a href="{% url 'show_event' item.pk %}">
        {{item}}
    </a>
</li>
{%endfor%}

{% else %}

<h4>No Events Sceduled At This Time.</h4>
{%endif%}

</center>
{% endblock %}